.Canv {
    display:block;
    text-align:justify;
    position:absolute;
    margin: 40px 150px;
    background-color: rgba(204, 0, 136, 0.373);
    border: 2px solid rgba(87, 0, 43, 0.716);
    border-radius: 50px;
    padding: 40px 40px;
    font-size: 20px;
    width: 75%;
    color:rgba(0, 0, 0, 0.578);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nextbt {
    margin: 10px 60px;
    opacity:0.65;
    background-color: rgb(199, 222, 241);
    border: 2px solid rgba(117, 183, 255, 0.858);
    border-radius: 5px;
    padding:5px;



}

a:link {
    text-decoration: none;
    color: rgba(129, 0, 149, 0.615);
}
  
a:visited {
    text-decoration: none;
    color: rgba(129, 0, 149, 0.615);;
}

#header {
    padding-left:20px;
    font-size: 30px;
    display: flex;
    justify-content: left;
    background-color: rgba(198, 0, 168, 0.141);


}


.btn {
    opacity:0.6;
    border: none;
    border-radius: 10px;
    color: rgb(36, 0, 42);
    background:rgb(255, 194, 230);
    font-size: 20px;
    padding: 8px 15px;
    margin: 5px 10px 5px 10px;

}
.btn:hover {
    opacity:1;
    font-size: 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.349);
    
}

.option {
    opacity:0.6;
    border: none;
    border-radius: 10px;
    color: rgb(36, 0, 42);
    background:rgb(255, 241, 136);
    font-size: 20px;
    padding: 8px 15px;
    margin: 5px 10px 5px 10px;

}
.option:hover {
    opacity:1;
    font-size: 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.349);
    

}


.nextbt:hover {
    opacity:1;
    transform:scale(1.2,1.2);

}

@media (max-width: 800px) {

    .Canv {
        display:block;
        text-align:justify;
        position:absolute;
        margin: 30px;
        background-color: rgba(204, 0, 136, 0.373);
        border: 2px solid rgba(87, 0, 43, 0.716);
        border-radius: 50px;
        padding: 40px 40px;
        font-size: 20px;
        width: 75%;
    }
    
  }

.imgs {
    height: 300px;
    width:175px;
    border: 3px ridge black;
    border-radius:10px;
}